<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Document</title>
</head>
<body>
   <% if current_user %>
      <a href="/signout">Sign Out </a>
   <% end %>      

   <%= yield %>

</body>
</html>