<form method="POST" action="/profile-form">
   <input type="text" name="bio" placeholder="Bio">
   <input type="text" name="religion" placeholder="Religion">
   <input type="submit" name="submit">
</form>