<h1> Welcome to your profile   

</h1>

<h1><%= @user.username %></h1>
<h1><%= @user.id %></h1>
<h1><%= @user.profile.bio %></h1>

<h1><%= @user.profile.religion %></h1>

<form method="POST" action="/profile">
   <input type="text" name="posttext" placeholder="Post-It">
   <input type="submit" name="submit">
</form>

