<form method="POST" action="/sign-in">
   <input type="text" name="username" placeholder="USERNAME">
   <input type="password" name="password" placeholder="PASSWORD">
   <input type="submit" name="submit">
</form>